@model MovieShopCore.Models.MovieDetailsModel

<div class="container mt - 5">
    <div class="row">
        <div class="col-4">
            <img src="@Model.PosterURL" alt="@Model.Title" class="img-fluid rounded"/>
        </div>
        
        <div class="col-8">
            <h1>@Model.Title</h1>
            <h5 class="text-muted">@Model.TagLine</h5>
            <p class="mt - 3">
                @Model.Overview
            </p>
            <h3>@Model.ReleaseDate.ToString().Substring(0, 10)</h3>
            <h3>@Model.Runtime</h3>
            <p>
                <strong>Budget: </strong>@Model.Budget.ToString(format:"C")
                <strong>Box Office: </strong>@Model.Revenue.ToString(format:"C")
            </p>
            <div class="justify-content-center mt-3">
                <partial name = "_MovieCastDetail" model="@Model.MovieCastModels"/>
            </div>
        </div>
    </div>
</div>